<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create chore</title>
</head>
<body>
<h1>Create new chore</h1>
<form th:action="@{/homeChore}" th:object="${homeChore}" method="post">

    <label for="chore">Chore</label>
    <input id="chore" type="text" th:field="*{chore}" required/>
    <br><br>

    <label for="room">Room</label>
    <input id="room" type="text" th:field="*{room}" required/>
    <br><br>

    <label for="important">Important</label>
    <input id="important" type="checkbox" th:field="*{important}" value="true"/>
    <br><br>

    <label for="estimatedTime">Estimated time</label>
    <input id="estimatedTime" type="number" th:field="*{estimatedTime}" required min="1" max="60"/>
    <br><br>

    <button type="submit">Save</button>
</form>
<a th:href="@{/homeChore}">Back to list of all chores</a>

</body>
</html>