<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal To-Do Manager</title>
</head>
<body>
<h1>Personal To-Do Manager</h1>

<p>
    Welcome! This application helps you manage your personal tasks
    across different categories.
</p>

<h2>Task Categories:</h2>

<ul>
    <li>
        <a th:href="@{/workout}">
            Workout Sessions
        </a>
        – Track your exercise activities.
    </li>

    <li>
        <a th:href="@{/groceries}">
            Grocery List
        </a>
        – Manage your shopping tasks.
    </li>

    <li>
            <span>
                Study Plan (Coming soon)
            </span>
        – Plan and organize your study tasks.
    </li>

    <li>
        <a th:href="@{/homeChore}">
            Home chores
        </a>
        - Organize your home chores.
    </li>
</ul>

</body>
</html>